// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.lists {
  color: black;
  border: 1px solid ;
  background-color: #ddffff;
  text-align: center;
  width: 725px;
  margin : auto;


}

// Import your components CSS files here.
// Import your components CSS files here.
